body{
    background:url("/static/images/bg.jpg") no-repeat center center/cover;
    height:100vh;
}

.card{
    animation:slideUp 1s ease;
    border-radius:15px;
}

@keyframes slideUp{
    from{
        transform:translateY(50px);
        opacity:0;
    }
    to{
        transform:translateY(0);
        opacity:1;
    }
}

.btn{
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
}
